<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOVILL</title>
</head>
<link rel="stylesheet" href="/static/style.css">
<body>

    <div class="container">
<h1>ECOVILL Login</h1> <br>

 <p class="main"> This is Login Template  </p> <br>
    <p class="sub-main"> Make Ekiti a cleaner place to live. </p> <br>

    <form action="/api/login" method="post">

        <input class="styled-input" placeholder="phone number" type="phone  number"> <br> <br>
        
        <input class="styled-button"type="submit" value="Login" >
    
    </form>

    </div>  
</body>
</html>