<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment</title>
  <link rel="stylesheet" href="./../public/style2.css">
</head>
<body>
<div class="wrapper">

  <div class="nav-bar">
    <h1> Ecovill</h1>
    <ul>
      <p class="profile"> Account: Onasanya Adewunmi Solomon<p>
        <li><a href="home.html"> Home</a>
        <li><a href="payment.html"> Payment</a>
        <li><a href="profile.html">Profile</a>
        <li><a href="settings.html">Settings</a>
  </ul>

<p class="pay">Payment</p>
<div class="pay-content">
  <p> Select subscription package </p>
  <p> Services for 1 month is N 1000 </p> <br>

  <label for="propertyType"> <B>PAYMENT PLAN:</B></label>
  <select id="propertyType" name="propertyType">
    <option value="" disabled selected>Select months to pay...</option>
    <option value="house"> 1 MONTH = N1000</option>
    <option value="apartment"> 2 MONTHS N2000 </option>
    <option value="condo">3 MONTHS N3000</option>
    <option value="condo">4 MONTHS N4000</option>
    <option value="condo">5 MONTHS N5000</option>
    <option value="condo">6 MONTHS N6000</option>
    <option value="condo">1 YEAR N12000</option>
  </select> <br><br>
  <button class="payment-btn">Proceed to make payment</button>
  
</div>


  </div>
</body>
</html>
