<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" href="./../public/style2.css">
</head>
<body>
<div class="wrapper">

  <div class="nav-bar">
    <h1> Ecovill</h1>
    <ul>
      <p class="profile"> Account: Onasanya Adewunmi Solomon<p>
          <li><a href="home.html"> Home</a>
          <li><a href="payment.html"> Payment</a>
          <li><a href="profile.html">Profile</a>
          <li><a href="settings.html">Settings</a>
  </ul>
  </div>
  <p class="settings-header">Settings</p>
<div class="settings">
  <p> <a href="#">Frequently Asked Questions</a> <br>
  <p><a href="#">Help and Support</a> <br>
  <p> <a href="#">Delete Account</a><br>
  <p><a href="#">privacy and policy</a><br>
  <p> <a href="#">Terms of Use</a> <br>
  <p><a href="#">Notification</a> 
</div>
</div>
</body>
</html>
