<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOVILL</title>
</head>
<link rel="stylesheet" href="/static/style.css">
<body>

    <div class="container">
<h1 class="otp">SIGNUP PAGE SAMPLE </h1> 
<p> This is the page to sign up</p>
<br>  <br>
    <form action="/api/signup" method="post">

        <input class="styled-input" placeholder="Enter Code" type="text"> <br> <br>
        
        <input class="styled-button"type="submit" value="Verify" >
    
    </form>
    
    <p>Didn't recieve the OTP? </p> <a href="">Resend</a>
    </div>
    
</body>
</html>